@font-face {
	font-family: myFont;
	src: url('../fonts/TTCommons-Regular.ttf');
}

::-moz-selection {
	background: #79b52c;
	color: #fff;
}

::selection {
	background: #79b52c;
	color: #fff;
}

* {
	font-family: myFont;
	scroll-behavior: smooth;
	font-size: 1.03em;
	line-height: 1.6;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

mark {
	background-color: rgba(0, 0, 0, 0);
	color: #79b52c;
}

ul {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
}

.p-50-0 {
	padding: 50px 0px;
}

.btn-green {
	background-color: #79b52c;
	color: #fff;
}

.text-green {
	color: #79b52c;
}

.border-green {
	border: 1px solid #79b52c;
}

.bg-green {
	background-color: #79b52c;
}

.aunderline {
	text-decoration: underline;
}

.brd-none {
	border: none;
}

textarea {
	resize: none;
}

#responsive-meni {
	display: none;
	z-index: 1000;
}

.navbar-brand img {
	max-height: 70px;
}

.naslovna {
	background-image: url(../img/classroom.webp);
	height: 100%;
	padding: 150px 0px 150px 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.transparent-bg-dark {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
}

.programi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.o-nama {
	background-image: url(../img/clasroom1.webp);
}

.koraci img {
	max-width: 30%;
	max-height: 70px;
}
.profesori {
	background-color: #79b52c;
	width: 100%;
}
.profesori img {
	max-width: 70%;
}

.profesor-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profesor-card p {
	color: #e0f2d9;
}
.profesor-card h5 {
	color: #000;
}
.profesor-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

.order-form-input {
	width: 100%;
	padding: 8px 8px;
	font-size: 0.9em;
	border-color: #79b52c;
}

.text {
	color: #f2f2f2;
	font-size: 30px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.active {
	background-color: #717171;
}

.mySlides {
	display: none;
}

.mySlides img {
	width: 100%;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.forma-greska {
	display: block;
	color: #ff0000;
	opacity: 0.7;
}

.forma-uspeh {
	color: #79b52c;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 520px) {
	.naslovna {
		padding: 32px 0;
	}
}
